<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ichinaski.todict"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.DictActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.NewDictActivity"
            android:label="@string/new_dict" >
        </activity>
        <activity
            android:name="com.ichinaski.todict.activity.WordActivity"
            android:label="@string/new_word" >
        </activity>

        <provider
            android:name="com.ichinaski.todict.provider.DataProvider"
            android:authorities="com.ichinaski.todict"
            android:label="@string/app_name"
            android:syncable="true"
            android:writePermission="com.ichinaski.todict.permission.WRITE_SCHEDULE" />
    </application>

</manifest>